<coiaf-map-search
    (applySearch)="search($event)"
    (resetSearch)="resetSearch()"
/>

@let ui = coreUi();

<div class="map-menu">
    <button
        matMiniFab
        [title]="ui.resetMapView"
        [aria-label]="ui.resetMapView"
        (click)="resetMapView()"
    >
        <mat-icon>explore</mat-icon>
    </button>
    <button
        matMiniFab
        [title]="ui.zoomIn"
        [aria-label]="ui.zoomIn"
        (click)="zoomIn()"
    >
        <mat-icon>add</mat-icon>
    </button>
    <button
        matMiniFab
        [title]="ui.zoomOut"
        [aria-label]="ui.zoomOut"
        (click)="zoomOut()"
    >
        <mat-icon>remove</mat-icon>
    </button>
</div>

<button
    matIconButton
    class="about-button"
    [title]="ui.about"
    [aria-label]="ui.about"
    (click)="openAboutDialog()"
>
    <mat-icon>info_i</mat-icon>
</button>

<mgl-map
    class="map"
    [mapStyle]="mapStyle"
    [center]="initialCenter"
    [zoom]="[ZoomLevel.Initial]"
    [minZoom]="1"
    [maxZoom]="9"
    [maxBounds]="maxBounds"
    [dragRotate]="false"
    [pitchWithRotate]="false"
    [touchPitch]="false"
    [cursorStyle]="cursorStyle()"
    (mapLoad)="onMapLoad($event)"
    (mapClick)="onMapClick($event)"
    (mapDblClick)="onMapDoubleClick($event)"
    (mapDragStart)="onMapDragStart()"
    (mapDragEnd)="onMapDragEnd()"
>
    @for (polygonType of polygonTypes; track polygonType) {
        <mgl-geojson-source
            [id]="polygonType"
            [data]="geodataUrls[polygonType]"
        />
        <mgl-layer
            [id]="polygonType + '-fill'"
            type="fill"
            [source]="polygonType"
            [paint]="polygonsPaint[polygonType]"
        />
    }

    <mgl-geojson-source
        id="mountain-ridges"
        data="geodata/got_mountain_ridges.geojson"
    />
    <mgl-layer
        id="mountain-ridges-fill"
        type="fill"
        source="mountain-ridges"
        before="forests-fill"
        [paint]="polygonsPaint.mountainRidges"
    />

    <mgl-geojson-source
        id="volcanoes"
        data="geodata/got_volcanoes.geojson"
    />
    <mgl-layer
        id="volcanoes-circle"
        type="circle"
        source="volcanoes"
        before="volcanoes-smoke-circle"
        [paint]="volcanoesPaint"
        [minzoom]="ZoomLevel.Medium"
    />
    <mgl-layer
        id="volcanoes-smoke-circle"
        before="primary-point-shadow"
        type="circle"
        source="volcanoes"
        [paint]="volcanoesSmokePaint"
        [minzoom]="ZoomLevel.Medium"
    />

    @for (lineType of lineTypes; track lineType) {
        <mgl-geojson-source
            [id]="lineType"
            [data]="geodataUrls[lineType]"
        />
        <mgl-layer
            [id]="lineType + '-line'"
            type="line"
            [source]="lineType"
            [paint]="linesPaint[lineType]"
        />
    }

    <mgl-geojson-source
        id="wall"
        [data]="geodataUrls.wall"
    />
    <mgl-layer
        id="wall-line"
        type="line"
        source="wall"
        [layout]="linesLayout.wall"
        [paint]="linesPaint.wall"
        before="wall-label"
        (layerMouseEnter)="onFeatureEnter($event)"
        (layerMouseLeave)="onFeatureLeave()"
    />
    <mgl-layer
        id="wall-outline"
        type="line"
        source="wall"
        [layout]="linesLayout.wall"
        [paint]="linesOutline.wall"
        before="wall-line"
    />
    <mgl-layer
        id="wall-shadow"
        type="line"
        source="wall"
        [layout]="linesLayout.wall"
        [paint]="linesShadow.wall"
        before="wall-outline"
    />

    @for (labeledType of labeledTypes; track labeledType) {
        <mgl-layer
            [id]="labeledType + '-label'"
            type="symbol"
            [source]="labeledType"
            [layout]="labelLayout()[labeledType] || defaultLabelLayout()"
            [paint]="labelPaint[labeledType]"
            [minzoom]="labelsMinZoom[labeledType] || 0"
        />
    }

    <mgl-geojson-source
        id="continents-label-points"
        [data]="continentsLabelPoints()"
    />
    <mgl-layer
        id="continents-label"
        type="symbol"
        source="continents-label-points"
        [layout]="labelLayout().continents"
        [paint]="labelPaint.continents"
        [maxzoom]="ZoomLevel.Low"
        before="kingdoms-label"
    />

    <mgl-geojson-source
        id="kingdoms-label-points"
        [data]="kingdomsLabelPoints()"
    />
    <mgl-layer
        id="kingdoms-label"
        type="symbol"
        source="kingdoms-label-points"
        [layout]="labelLayout().kingdoms"
        [paint]="labelPaint.kingdoms"
        [minzoom]="labelsMinZoom.kingdoms"
        [maxzoom]="ZoomLevel.Medium"
        before="lands-label"
    />

    <mgl-geojson-source
        id="lands-label-points"
        [data]="landsLabelPoints()"
    />
    <mgl-layer
        id="lands-label"
        type="symbol"
        source="lands-label-points"
        [layout]="labelLayout().lands"
        [paint]="labelPaint.lands"
        [minzoom]="labelsMinZoom.lands"
        before="mountains-label"
    />

    <mgl-geojson-source
        id="mountains-label-points"
        [data]="mountainsLabelPoints()"
    />
    <mgl-layer
        id="mountains-label"
        type="symbol"
        source="mountains-label-points"
        [layout]="defaultLabelLayout()"
        [paint]="labelPaint.mountains"
        [minzoom]="labelsMinZoom.mountains"
        before="primary-point-label"
    />

    <mgl-geojson-source
        id="locations"
        [data]="geodataUrls.locations"
    />

    @for (tier of locationTiers; track tier) {
        <mgl-layer
            [id]="tier + '-point'"
            before="primary-point-label"
            type="circle"
            source="locations"
            [filter]="locationsFilter[tier]"
            [paint]="pointsPaint"
            [minzoom]="locationsMinZoom[tier] || 0"
            (layerMouseEnter)="onFeatureEnter($event)"
            (layerMouseLeave)="onFeatureLeave()"
        />

        <mgl-layer
            [id]="tier + '-point-shadow'"
            [before]="tier + '-point'"
            type="circle"
            source="locations"
            [filter]="locationsFilter[tier]"
            [paint]="pointsShadow"
            [minzoom]="locationsMinZoom[tier] || 0"
        />

        <mgl-layer
            [id]="tier + '-point-label'"
            type="symbol"
            source="locations"
            [filter]="locationLabelsFilter[tier]"
            [minzoom]="locationsMinZoom[tier] || 0"
            [layout]="labelLayout().locations"
            [paint]="labelPaint.locations"
        />
    }

    @let gradients = gradientCoordinates | keyvalue;
    @for (gradient of gradients; track gradient.key) {
            <mgl-image-source
                [id]="gradient.key + '-gradient'"
                [url]="gradientUrl"
                [coordinates]="gradient.value"
            />
            <mgl-layer
                [id]="gradient.key + '-gradient-layer'"
                type="raster"
                [source]="gradient.key + '-gradient'"
                [paint]="gradientPaint"
            />
    }

    <mgl-geojson-source
        id="dim-overlay"
        [data]="dimOverlay()"
    />
    <mgl-layer
        id="dim-overlay-layer"
        type="fill"
        source="dim-overlay"
        before="north-gradient-layer"
        [paint]="dimOverlayPaint"
        [layout]="searchHighlightPolygonLayout()"
    />

    <mgl-geojson-source
        id="search-highlight"
        [data]="searchHighlight()"
    />
    <mgl-layer
        id="search-highlight-polygon"
        type="line"
        source="search-highlight"
        before="dim-overlay-layer"
        [paint]="searchHighlightPolygonPaint"
        [layout]="searchHighlightPolygonLayout()"
    />
    <mgl-layer
        id="search-highlight-line"
        type="line"
        source="search-highlight"
        before="rivers-line"
        [paint]="searchHighlightLinePaint"
        [layout]="searchHighlightLineLayout()"
    />
    <mgl-layer
        id="search-highlight-point-outline"
        type="circle"
        source="search-highlight"
        before="search-highlight-point-shadow"
        [paint]="searchHighlightPointPaint"
        [layout]="searchHighPointLayout()"
    />
    <mgl-layer
        id="search-highlight-point"
        type="circle"
        source="search-highlight"
        before="primary-point"
        [paint]="pointsPaint"
        [layout]="searchHighPointLayout()"
    />
    <mgl-layer
        id="search-highlight-point-shadow"
        type="circle"
        source="search-highlight"
        before="search-highlight-point"
        [paint]="pointsShadow"
        [layout]="searchHighPointLayout()"
    />
</mgl-map>
