@let locationData = location();
@let ui = coreUi();
@let locationArea = locationData | area;

<div>
    @if (locationData.type) {
        <span>{{ locationData | localize: 'type' | titlecase }}</span>

        @if (locationData.active === false) {
            <span>&nbsp;({{ ui.formerly }})</span>
        }

        @if (locationArea?.length) {
            <span class="mx-1">&bull;</span>
        }
    }

    @for (areaPart of locationArea; track areaPart.id; let last = $last) {
        @if (clickable() && areaPart.hasCard) {
            <a
                (click)="setSelectedId(areaPart.id)"
                (keydown.enter)="setSelectedId(areaPart.id)"
                tabindex="0"
            >
                <span>{{ areaPart.name }}</span>
            </a>
        } @else {
            <span>{{ areaPart.name }}</span>
        }

        @if (!last) {
            <span>, </span>
        }
    }
</div>