@let locationData = location();
@let ui = coreUi();
@let locationArea = locationData | area;

<div>
    @if (locationData.type) {
        <span>{{ locationData | localize: 'type' | titlecase }}</span>

        @if (locationData.active === false) {
            <span>&nbsp;({{ ui.formerly }})</span>
        }

        @if (locationArea?.length) {
            <span class="mx-1">&bull;</span>
        }
    }

    @for (areaPart of locationArea; track areaPart; let last = $last) {
        <span>{{ areaPart }}</span>

        @if (!last) {
            <span>, </span>
        }
    }
</div>