@let ui = coreUi();

<div
    class="card-resize-area"
    (pointerdown)="startResize($event)"
    (touchstart)="preventTouchDefault($event)"
>
    <div class="card-resize-control"></div>
</div>

<div class="card-header" #header>
    <ng-content select="[coiafCardTitle]" />
    <ng-content select="[coiafCardActions]" />
    <button
        matIconButton
        [aria-label]="ui.share"
        (click)="share()"
    >
        <mat-icon class="share-icon">ios_share</mat-icon>
    </button>
    <button
        matIconButton
        [aria-label]="ui.close"
        (click)="close()"
    >
        <mat-icon>close</mat-icon>
    </button>
</div>

<ng-content select="[coiafCardBody]" />