@use '../../../variables';

:host {
    display: block;
    margin: {
        top: 4px;
        bottom: 12px;
    }
}

.card-header {
    display: flex;
    gap: 4px;
    align-items: start;
    margin: {
        bottom: 12px;
        left: 12px;
    }

    .card-title {
        flex-grow: 1;
        margin-top: 8px;
    }

    h3 {
        margin: 0;
    }

    .name-variant {
        color: variables.$grey;
    }

    .mat-icon.share-icon {
        bottom: 2px;
    }
}

.card-subtitle {
    font-size: 14px;
    color: variables.$grey;
    margin: {
        bottom: 12px;
        left: 12px;
        right: 12px;
    }
}

.bullet {
    margin: 0 4px;
}

.description {
    max-width: 640px;
    max-height: 200px;
    overflow-y: auto;
    padding: {
        left: 12px;
        right: 12px;
    }
}