@use '../../../variables';

:host {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: hidden;
    margin: {
        top: 4px;
        bottom: 12px;
    }

    &.resizing,
    &.resizing * {
        user-select: none;
        -webkit-user-select: none;
        -webkit-touch-callout: none;
    }
}

.card-resize-area {
    height: 12px;
    padding: {
        top: 4px;
        bottom: 4px;
    }
    box-sizing: border-box;
    align-self: center;
    flex-grow: 0;
    flex-shrink: 0;
    cursor: ns-resize;
    touch-action: none;

    &:hover .card-resize-control {
        opacity: .8;
    }
}

.card-resize-control {
    height: 4px;
    width: 64px;
    background-color: variables.$grey;
    border-radius: 2px;
    opacity: .4;
}

.card-header {
    display: flex;
    gap: 4px;
    align-items: start;
    margin: {
        bottom: 12px;
        left: 12px;
    }

    .card-title {
        flex-grow: 1;
        margin-top: 8px;
    }

    h3 {
        margin: 0;
    }

    .name-variant {
        color: variables.$grey;
    }

    .mat-icon.share-icon {
        bottom: 2px;
    }
}

.card-subtitle {
    font-size: 14px;
    color: variables.$grey;
    margin: {
        bottom: 12px;
        left: 12px;
        right: 12px;
    }
}

.bullet {
    margin: 0 4px;
}

.description {
    max-width: 640px;
    overflow: {
        x: hidden;
        y: auto;
    }
    padding: {
        left: 12px;
        right: 12px;
    }
}

.claimed-by {
    display: inline-flex;
    gap: 4px;
    align-items: center;

    &-icon {
        font-size: 16px;
        width: 16px;
        height: 16px;
    }
}