@let ui = coreUi();

<div class="card-resize-area" (pointerdown)="startResize($event)">
    <div class="card-resize-control"></div>
</div>

<div class="card-header">
    <div class="card-title">
        <h3>{{ data | localize: 'name' }}</h3>
        @if (data.nameVariant) {
            <div class="name-variant">{{ data | localize: 'nameVariant' }}</div>
        }
    </div>
    <button
        matIconButton
        [aria-label]="ui.showOnMap"
        (click)="goToLocation$.next();"
    >
        <mat-icon>my_location</mat-icon>
    </button>
    <button
        matIconButton
        [aria-label]="ui.share"
        (click)="share()"
    >
        <mat-icon class="share-icon">ios_share</mat-icon>
    </button>
    <button
        matIconButton
        [aria-label]="ui.close"
        (click)="close()"
    >
        <mat-icon>close</mat-icon>
    </button>
</div>

@let area = data | area;

<div class="card-subtitle">
    @if (showType) {
        <span>{{ data | localize: 'type' | titlecase }}</span>

        @if (area?.length) {
            <span class="bullet">&bull;</span>
        }
    }

    @if (data.ClaimedBy) {
        <span class="claimed-by">
            <mat-icon class="claimed-by-icon">castle</mat-icon>
            <span>{{ data | localize: 'ClaimedBy' }}</span>
        </span>
    }

    @for (areaPart of area; track areaPart; let last = $last) {
        <span>{{ areaPart }}</span>

        @if (!last) {
            <span>, </span>
        }
    }
</div>

<div class="description">{{ data | localize: 'description' }}</div>
