@let locationData = location();
@let ui = coreUi();
@let locationArea = locationData | area;

<div class="tooltip">
    <h5 class="tooltip-title">{{ (locationData | localize: 'name') || ui.namePlaceholder }}</h5>

    @if (locationData.nameVariant) {
            <div class="tooltip-subtitle name-variant">{{ locationData | localize: 'nameVariant' }}</div>
    }

    <div class="tooltip-subtitle">
        @if (locationData.type) {
            <span>{{ locationData | localize: 'type' | titlecase }}</span>

            @if (locationArea?.length) {
                <span class="bullet">&bull;</span>
            }
        }

        @for (areaPart of locationArea; track areaPart; let last = $last) {
            <span>{{ areaPart }}</span>

            @if (!last) {
                <span>, </span>
            }
        }
    </div>
</div>
