@use '../../../variables';

.tooltip {
    max-width: 180px;
}

.tooltip-title {
    font-size: 14px;
    color: variables.$black;
    margin: 0;
}

.tooltip-subtitle {
    font-size: 11px;
    line-height: 14px;
    color: variables.$grey;

    &.name-variant {
        margin-bottom: 8px;
        font-weight: bold;
    }
}

.bullet {
    margin: 0 4px;
}

.claimed-by {
    display: inline-flex;
    gap: 4px;
    align-items: center;

    &-icon {
        font-size: 12px;
        width: 12px;
        height: 12px;
    }
}
