@let locationData = location();
@let ui = coreUi();
@let tooltipOptions = options();

<div class="tooltip">
    <div class="tooltip-header">
        <div class="tooltip-title">
            <h5>
                <span>{{ (locationData | localize: 'name') || ui.namePlaceholder }}</span>

                @if (locationData.isPort) {
                    <mat-icon>anchor</mat-icon>
                }
            </h5>

            @if (locationData.nameVariant) {
                <div class="tooltip-subtitle">{{ locationData | localize: 'nameVariant' }}</div>
            }
        </div>

        @if (tooltipOptions?.showCloseButton) {
            <button
                matIconButton
                [aria-label]="ui.close"
                (click)="close()"
            >
                <mat-icon>close</mat-icon>
            </button>
        }
    </div>

    <coiaf-caption [location]="locationData" iconSize="small" class="tooltip-caption" />

    @if (tooltipOptions?.showDetailsLink) {
        <a
            class="details-link"
            (click)="setSelectedId()"
            (keydown.enter)="setSelectedId()"
            tabindex="0"
            [aria-label]="ui.details"
        >
            <span>{{ ui.details }}</span>
            <mat-icon>chevron_right</mat-icon>
        </a>
    }
</div>
