@use '@angular/material' as mat;
@use '../../../variables';
@use '../../../mixins';

.tooltip {
    max-width: 180px;

    @include mat.icon-button-overrides((
        icon-size: 14px,
        state-layer-size: 22px,
    ));
}

.mat-icon {
    @include mixins.icon-size(14px);
}

.tooltip-header {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: flex-start;
}

.tooltip-title {
    flex-grow: 1;

    h5 {
        font-size: 14px;
        color: variables.$black;
        margin: 0;

        .mat-icon {
            @include mixins.icon-size(12px);
            height: 14px;
            color: variables.$grey;
            margin-left: 4px;
            vertical-align: middle;
        }
    }
}

.tooltip-subtitle, .tooltip-caption {
    font-size: 11px;
    line-height: 14px;
    color: variables.$grey;
}

.tooltip-subtitle {
    margin-bottom: 8px;
    font-weight: bold;
}

.details-link {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 4px;

    .mat-icon {
        @include mixins.icon-size(14px);
    }
}
