@let locationData = location();
@let ui = coreUi();

<div class="tooltip">
    <h5 class="tooltip-title">{{ (locationData | localize: 'name') || ui.namePlaceholder }}</h5>

    @if (locationData.nameVariant) {
        <div class="tooltip-subtitle name-variant">{{ locationData | localize: 'nameVariant' }}</div>
    }

    <coiaf-subtitle [location]="locationData" iconSize="small" class="tooltip-subtitle" />

    @if (showDetailsLink()) {
        <a
            class="details-link"
            (click)="setSelectedId()"
            (keydown.enter)="setSelectedId()"
            tabindex="0"
            [aria-label]="ui.details"
        >
            <span>{{ ui.details }}</span>
            <mat-icon>chevron_right</mat-icon>
        </a>
    }
</div>
