@use '../../../variables';
@use '../../../mixins';

.close-button {
    position: absolute;
    top: 4px;
    right: 4px;
}

.menu-item {
    display: flex;
    gap: 12px;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    -webkit-user-select: none;
    letter-spacing: normal;
}

.menu-item-title {
    font-size: 14px;
    font-weight: bold;
    color: variables.$black;
    margin-right: 4px;
}

.menu-item-caption {
    font-size: 12px;
    color: variables.$grey;
}

.menu-item-icon {
    @include mixins.icon-size(16px);
    color: variables.$grey;
}