@let ui = coreUi();
@let currentPlan = plan();
@let planLoading = loading();

<coiaf-card>
    <div coiafCardTitle>
        <h3>
            @let mode = selectedMode();
            @if (isCollapsed() && currentPlan) {
                <div class="flex flex-wrap gap-2 items-center text-lg mt-1">
                    <div class="header-icons">
                        <ng-container *ngTemplateOutlet="modeIconsTmpl; context: { mode: mode }" />
                    </div>
                    <ng-container *ngTemplateOutlet="distanceTmpl; context: { mode: mode }" />
                    <span class="font-normal text-grey">&bull;</span>
                    <span class="font-normal text-grey whitespace-nowrap">{{ currentPlan[mode] | duration }}</span>
                </div>
            } @else {
                {{ ui.modes[mode] }}
            }
        </h3>
    </div>

    <div coiafCardBody>
        @if (currentPlan || planLoading) {
            <mat-tab-group
                animationDuration="0ms"
                [selectedIndex]="selectedIndex()"
                (selectedIndexChange)="onTabChange($event)"
            >
                @for (mode of modes(); track mode) {
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <div class="route-tab-icons">
                                <ng-container *ngTemplateOutlet="modeIconsTmpl; context: { mode: mode }" />
                            </div>
                            <coiaf-skeleton-loader class="route-tab-title-loader" [loading]="planLoading" [width]="50">
                                <span class="route-tab-title">{{ currentPlan?.[mode] | duration: '-' }}</span>
                            </coiaf-skeleton-loader>
                        </ng-template>

                        <div class="mt-4">
                                <div class="route-distance">
                                    <coiaf-skeleton-loader [loading]="planLoading" [width]="150">
                                        <ng-container *ngTemplateOutlet="distanceTmpl; context: { mode: mode }" />
                                    </coiaf-skeleton-loader>
                                </div>
                                @if (SpeedKmH[mode]) {
                                    <div class="route-speed">
                                        <coiaf-skeleton-loader [loading]="planLoading" [width]="100">
                                            <mat-icon>speed</mat-icon>
                                            <span>~{{ SpeedKmH[mode] }} {{ ui.km }}/{{ ui.hours }}</span>
                                        </coiaf-skeleton-loader>
                                    </div>
                                }

                                @let modeStretches = stretches()[mode] ?? [];
                                @if (modeStretches.length > 1 && !planLoading) {
                                    <ol class="route-stretches">
                                        @for (stretch of modeStretches; track $index) {
                                            @let stretchIcon = getStretchIcon(mode, stretch);
                                            <li>
                                                @if (stretchIcon.icon) {
                                                    <mat-icon>{{ stretchIcon.icon }}</mat-icon>
                                                } @else {
                                                    <mat-icon [svgIcon]="stretchIcon.svgIcon" />
                                                }
                                                <span class="route-stretch-distance">
                                                    {{ stretch.distanceKm | number: '1.0-0' }} {{ ui.km }}
                                                </span>
                                                <span class="route-stretch-time">{{ stretch | duration }}</span>
                                            </li>
                                        }
                                    </ol>
                                }
                            </div>
                    </mat-tab>
                }
            </mat-tab-group>
        } @else {
            <div class="route-placeholder">
                @let routeEndpoints = endpoints();
                <mat-icon
                    [ngClass]="routeEndpoints?.from ? 'icon-b' : 'icon-a'"
                    fontSet="material-symbols-outlined"
                >add_location_alt</mat-icon>
                <span>{{ routeEndpoints?.from ? ui.selectB :  ui.selectA }}</span>
            </div>
        }
    </div>
</coiaf-card>

<ng-template #modeIconsTmpl let-mode="mode">
    @for (modeIcon of modeIcons[mode]; track $index) {
        @if (modeIcon.icon) {
            <mat-icon>{{ modeIcon.icon }}</mat-icon>
        } @else {
            <mat-icon [svgIcon]="modeIcon.svgIcon" />
        }
    }
</ng-template>

<ng-template #distanceTmpl let-mode="mode">
    @let distance = currentPlan?.[mode]?.distanceKm | number: '1.0-1';

    @if (distance) {
        <span class="whitespace-nowrap">{{ distance }} {{ ui.km }}</span>
    } @else {
        <span>-</span>
    }
</ng-template>
