@let ui = coreUi();

<div mat-dialog-title>
    <div class="dialog-header">
        <div>{{ ui?.about }}</div>
        <button
            matIconButton
            mat-dialog-close
            [aria-label]="ui.close"
        >
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>

<mat-dialog-content>
    @let about = aboutHtml();

    @if (about) {
        <div [innerHTML]="about"></div>
        <div class="links">
            @let linksList = links | keyvalue;
            @for (link of linksList; track link.key) {
                <a matIconButton [href]="link.value" target="_blank">
                    <mat-icon [svgIcon]="link.key" />
                </a>
            }
        </div>
    } @else {
        <div class="loader">
            <coiaf-spinner size="small" />
        </div>
    }
</mat-dialog-content>