@use '../../../mixins';

:host {
    display: block;
}

.bullet {
    margin: 0 4px;
}

.claimed-by {
    display: inline-flex;
    gap: 4px;
    align-items: center;

    &-icon {
        &.small {
            @include mixins.icon-size(12px);
        }

        &.medium {
            @include mixins.icon-size(16px);
        }
    }
}