@let locationData = location();
@let ui = coreUi();
@let locationArea = locationData | area;

<div>
    @if (locationData.type) {
        <span>{{ locationData | localize: 'type' | titlecase }}</span>

        @if (locationData.active === false) {
            <span>&nbsp;({{ ui.formerly }})</span>
        }

        @if (locationArea?.length) {
            <span class="bullet">&bull;</span>
        }
    }

    @for (areaPart of locationArea; track areaPart; let last = $last) {
        <span>{{ areaPart }}</span>

        @if (!last) {
            <span>, </span>
        }
    }
</div>

@if (locationData.ClaimedBy) {
    @if (variant() === 'full') {
        @let coatOfArms = locationData | coatOfArmsUrl | async;

        <div
            class="claimed-by-full"
            [class.has-coat-of-arms]="coatOfArms"
        >
            <coiaf-skeleton-loader
                [loading]="loading()"
                [width]="40"
                [height]="40"
                [rounded]="true"
            >
                @if (coatOfArms) {
                    <div
                        class="coat-of-arms"
                        tabindex="-1"
                        (click)="openHouseDialog()"
                        (keydown.enter)="openHouseDialog()"
                    >
                        <img
                            [attr.src]="coatOfArms"
                            height="40"
                            alt=""
                        />
                    </div>
                } @else {
                    <mat-icon class="claimed-by-icon">shield</mat-icon>
                }
            </coiaf-skeleton-loader>
        <div class="claimed-by-house">{{ locationData | localize: 'ClaimedBy' }}</div>
        </div>
    } @else {
        <div class="claimed-by-short">
            <mat-icon class="claimed-by-icon">groups</mat-icon>
            <span class="claimed-by-house">{{ locationData | localize: 'ClaimedBy' }}</span>
        </div>
    }
}