@use '../../../../variables';

.cdk-overlay-pane.mat-mdc-dialog-panel.coiaf-house-dialog {
    max-width: calc(100vw - 16px);

    .mat-mdc-dialog-content {
        max-height: unset;
    }
}

.motto {
    font-size: 14px;
    line-height: 20px;
    color: variables.$grey;
    max-width: 240px;
}