@use '@angular/material' as mat;
@use '../../../variables';

.search-suffix {
    display: flex;
    align-items: center;
    margin-right: 8px;
}

.language-button {
    // it is made an icon button on purpose: otherwise text is not centered vertically on mobile devices
    @include mat.icon-button-overrides((
        icon-color: variables.$grey,
    ));
    font-size: 14px;
}
