@let ui = coreUi();

<mat-form-field appearance="outline" subscriptSizing="dynamic">
    <mat-icon matPrefix>search</mat-icon>
    <input
        matInput
        #searchInput
        [attr.lang]="language()"
        inputmode="search"
        autocomplete="off"
        spellcheck="false"
        [placeholder]="ui.searchPlaceholder"
        [formControl]="searchControl"
        [matAutocomplete]="autocomplete"
    />

    <div class="search-suffix" matSuffix>
        @if (searchControl.value) {
            <button
                matIconButton
                [aria-label]="ui.clear"
                (click)="$event.stopPropagation(); searchControl.reset('')"
            >
                <mat-icon>close</mat-icon>
            </button>
        }

        <button
            matIconButton
            class="language-button"
            [aria-label]="ui.language"
            (click)="toggleLanguage($event)"
            >{{ language() | uppercase }}</button
        >
    </div>
</mat-form-field>

<mat-autocomplete
    #autocomplete="matAutocomplete"
    [displayWith]="displayFn"
    hideSingleSelectionIndicator
>
    @let filteredOptions = filteredOptions$ | async | keyvalue: sortOptionsGroup;
    @let groups = optionGroups();

    @for (optionGroup of filteredOptions; track optionGroup.key) {
        <mat-optgroup [label]="groups[optionGroup.key]">
            @for (option of optionGroup.value | sortBy: 'name'; track option.id) {
                <mat-option [value]="option">{{ option | localize: 'name' }}</mat-option>
            }
        </mat-optgroup>
    }
</mat-autocomplete>