@let ui = coreUi();

<mat-form-field appearance="outline" subscriptSizing="dynamic">
    <mat-icon matPrefix>search</mat-icon>
    <input
        matInput
        #searchInput
        type="search"
        [attr.lang]="language()"
        inputmode="search"
        autocomplete="off"
        spellcheck="false"
        enterkeyhint="search"
        [placeholder]="ui.searchPlaceholder"
        [formControl]="searchControl"
        [coiafAutocomplete]="searchAutocomplete.matAutocomplete()"
        [shouldCloseOnBlur]="shouldCloseAutocomplete()"
    />

    <div class="search-suffix" matSuffix>
        @if (searchControl.value) {
            <button
                matIconButton
                [aria-label]="ui.clear"
                (click)="clear($event)"
            >
                <mat-icon>close</mat-icon>
            </button>
        }

        <button
            matIconButton
            class="language-button"
            [aria-label]="ui.language"
            (click)="toggleLanguage($event)"
            >{{ language() | uppercase }}</button
        >
    </div>
</mat-form-field>

<coiaf-autocomplete
    #searchAutocomplete="autocomplete"
    [query]="searchValue$ | async"
/>