@use 'sass:map';
@use '../../../theme';
@use '../../../mixins';

:host {
    display: contents;
}

.house-preview {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 4px;
    padding: 8px;
    user-select: none;
    -webkit-user-select: none;

    &.clickable {
        cursor: pointer;
    }

    .house-name {
        color: map.get(theme.$primary-palette, 10);
        font-weight: bold;
    }

    .coat-of-arms {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;

        &-placeholder {
            @include mixins.icon-size(40px);
            color: map.get(theme.$primary-palette, 80);
        }
    }
}