@let ui = coreUi();

<div mat-dialog-title>
    <div class="dialog-header">
        <h3>{{ ui?.about }}</h3>
        <button
            matIconButton
            mat-dialog-close
            [aria-label]="ui.close"
        >
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>

<mat-dialog-content>
    @let about = aboutHtml();

    @if (about) {
        <div [innerHTML]="about"></div>
    } @else {
        <div class="loader">
            <coiaf-spinner size="small" />
        </div>
    }
</mat-dialog-content>